#page {
    padding-top: 10px;
    min-width:280px;
}

/*.container {
    width: 950px !important;
}*/

#content {
    margin-bottom: 10px;
}

/*#contentText 
{
    border: 2px #808080 solid; 
    background: #e3ffec; 
    position:relative;
    top:4px;
    width:800px;
    margin: 0 auto;
    padding: 5px;
}*/


#contentText {
    background: none repeat scroll 0 0 #E3FFEC;
    border: 2px solid #808080;
    margin: 0 160px;
    padding: 5px;
    position: relative;
    top: 4px;
    width: auto;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
.sideLeft 
{
    left: -10px;
    float: left;
    width: 150px;
    position: relative;
    background: white;
    /*margin-left: -150px;
    height:400px;
    margin-right: -3px;
    top:-260px;*/
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
.sideRight 
{
    
    float: right;
    width: 150px;
    position: relative;
    background: white;
    height: 400px;
    margin-left: 10px;
    /*top:-260px;
    padding:8px;
    left:175px;
    margin-left: -100%;*/
}
.partnspon {
    padding: 6px;
    padding-bottom: 20px;
    /*padding: 4px;*/
    /*text-align: center;*/
}

.partnspon h3 {
    color: #000000;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
 
.partnspon a {
    display: block;
    text-align: center    
}

.partnspon img {
    /*margin: 10px 0;*/
    margin: 0 0;
}

img {
    border: medium none;
}


.t12 
{
    color: #5F307F;
    /*font-family: fgmc;*/
    font-family: tahoma;
    font-size: 11px;
    text-transform: none;
}


.t28 
{
    color: #5F307F;
    font-family: tahoma;
    /*font-family: fgmc;*/
    font-size: 20px;
    text-transform: uppercase;
}

.text14 
{
    font-size: 14px;
    line-height: 21px;
}
.colblue1 
{
    color: #00427A;
}

.text17 {
    font-size: 17px;
    line-height: 21px;
}

.text23 {
    font-size: 23px;
    line-height: 26px;
}
.colred1 {
    color: #ED1C24;
}
.uptext {
    text-transform: uppercase;
}
.centext {
    text-align: center;
} 


.form-horizontal .control-group {
    margin-bottom: 5px !important;
}






h1{line-height: 40px; font-size:30px;}
h2{line-height: 30px;}
#contentText,
.sideRight,
.sideLef{box-sizing: border-box;}
.hero-unit{overflow:hidden;}
.hero-unit a.btn.btn-mini{
    margin-bottom:5px;
    display: block;
}
.hero-unit span.badge{
    width:22px; 
    text-align: center;
}
.hero-unit > div{
    margin:0px 30px 10px 0px !important;
    width:40px !important;
}
.hero-unit p{
    margin:4px auto 7px;
    width:70px;
}

.left-column{float:left; width:50%;}
.right-column{float:right;width:50%;}
.clear{clear:both;}
#contentText{
    float:left;
    margin:0px;
    width:70%;
    margin-bottom: 20px;
}
.sideRight{float:right;}

.icon-align-justify{
    color:#999;
   
}
.main-nav{position: relative;}
a#open-close{ 
    opacity:0;
    position:absolute;
    top:10px;
    right:23px;
}
.icon-home {color:#999;}

@media (max-width:1200px){
    .left-column,
    .right-column
   {
        float:none;
        width:100%;
    }
    .left-column p,
    .right-column p{
        text-align: left;
        margin-left:30px;
    }
    #contentText{width:65%;}
    
}

@media (max-width:1100px){
    .left-column,
    .right-column{
        float:none;
        width:100%;
    }
    .sideLeft{
        float:right;
        width:15%;
    }
     #contentText{width:80%;}
    .sideLeft .partnspon{
        float:left;
    }
    .sideLeft .partnspon a,
    .sideRight .partnspon a
    ,.sideBottom .partnspon a{
        display: inline-block;
        height:100%;
        vertical-align: bottom;
    }
    .sideLeft .partnspon a img,
    .sideRight .partnspon a img
    ,.sideBottom .partnspon a img {
        max-height: 120px;
        max-width: 120px;
        width:auto;
        height:auto;
    }
}
@media (max-width:970px){
    body {
        padding:0px 10px;
    }
    h1{line-height: 30px; font-size:24px;}
    .left-column,
    .right-column,
    #contentText,
    .sideRight,
    .sideLeft{
        float:none;
        width:100%;
    }
    #contentText{
        
    }
    .sideLeft .partnspon,
    .sideRight .partnspon{
        float:left;
        margin-right: 5px;
    }
    .sideRight .partnspon a {
        float:left; 
        margin-right: 10px; 
        text-align: center;
    }
    .sideLeft .partnspon a img,
    .sideRight .partnspon a img
    ,.sideBottom .partnspon a img {
        max-height:100px;
        max-width:100px;  
        margin-right:20px;
    }
    .navbar-inner{padding-right:50px;}
    a#open-close{
     opacity:1;
}
.main-nav ul.navigation{
    display:none;
    background-color: #222;
    position:absolute;
    top:39px;
    right:-10px;
    left:auto;
    height:auto;
    width:150px;
    z-index: 100;
}
  .navbar .nav.navigation > li {
    float: none;
}
    
}

@media (max-width:768px){
    
    .sideLeft .partnspon a img,
    .sideRight .partnspon a img
    ,.sideBottom .partnspon a img {
        max-height:80px;
        max-width:80px;       
        margin-right:5px;
    }   
    
}

@media (max-width:580px){
     h1{font-size:20px; line-height:28px;}
    .sideLeft .partnspon a img,
    .sideRight .partnspon a img
    ,.sideBottom .partnspon a img {
        max-height:50px;
        max-width:50px;       
    }
}

@media (max-width:520px){
    .sideLeft .partnspon p {
        max-width:90px;
    }
   
    .sideRight .partnspon p {
        max-width:110px;
    }
}

@media (max-width:450px){
    .sideLeft .partnspon p {
        max-width:70px;
    }
   
    .sideRight .partnspon p {
        max-width:100px;
    }

}
@media (max-width:420px){
   
    .sideLeft .partnspon a img,
    .sideRight .partnspon a img
    ,.sideBottom .partnspon a img {
        max-height:40px;
        max-width:40px; 
        margin-right: 5px;
    }
    .sideLeft .partnspon  p{
        max-width:80px;
    }
   
    .sideRight .partnspon   p{
        max-width:100px;
    }
}

@media (max-width:380px){
   
    .sideLeft .partnspon a img,
    .sideRight .partnspon a img
    ,.sideBottom .partnspon a img {
        max-height:35px;
        max-width:35px; 
        margin-right: 2px;
    }
     .sideLeft .partnspon  p{
        max-width:70px;
    }
   
    .sideRight .partnspon   p{
        max-width:95px;
    }

}